NEXT_PUBLIC_NETWORK_ID=preview
NEXT_PUBLIC_INDEXER_HTTP=https://indexer.preview.midnight.network/api/v4/graphql
NEXT_PUBLIC_INDEXER_WS=wss://indexer.preview.midnight.network/api/v4/graphql/ws
NEXT_PUBLIC_TOKEN_CONTRACT_PATH=/contracts/token
NEXT_PUBLIC_PRIVATE_STATE_PASSWORD=akad-dev-only-password
NEXT_PUBLIC_SWAP_CONTRACT_ADDRESS=
NEXT_PUBLIC_TOKEN_CONTRACT_ADDRESS=e62f476dc4194c4ea3641016f55f4eb7069ab2ead2903deb3fdfe4f5f9f63d04
